body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Header */
.nav-item {
    margin-right: 74px;
    font-size: 14px;
    font-weight: 400;
}

.nav-item.active a {
    color: #2B4CDE !important;
    font-weight: 600;
}

.btn.btn-outline-info {
    width: 102px;
    border-color: #2B4CDE !important;
    border-radius: 0px;

}

.btn-signin {
    width: 102px;
    height: 40px;
    border-color: #2B4CDE;
    color: #2B4CDE;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Header akhir */

/* Hero */
.welcome-text h1 {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 50px;
    color: #0F1837;
    margin-bottom: 35px;
}

.welcome-text p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    color: #A5A5A5;
}

.welcome-search {
    width: 795px;
    height: 100px;
    margin-top: 49px;
    background: #ffffff;
    z-index: 20;
}

.welcome-search .search {
    width: 91px;
    background: #2B4CDE;
}

.welcome-image img {
    width: 100%;
    z-index: 10;
}

/* Features */
.feature-img img {
    width: 100%;
}

/* .feature-text {
    margin-top: -250px;
} */

.feature-text h1,
.sell h1 {
    font-family: 'Playfair Display';
    font-size: 38px;
    color: #0F1837;
}

.feature-text p {
    font-size: 16px;
    font-weight: 500;
    color: #A5A5A5;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}

.feature-text h5 {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 600;
    color: #2B4CDE;
}

/* Sell */
.property-product h1,
.customer-review h1 {
    font-family: 'Playfair Display';
    font-size: 22px;
    font-weight: 600;
}

.property-product p {
    font-size: 14px;
    font-weight: 500;
    color: #A5A5A5;
}

.property-product h3 {
    font-weight: 600;
    font-size: 22px;
    color: #2B4CDE;
}

/* Customer */
.customer-review {
    width: 600px;
    background: white;
    margin-top: 45px;
    z-index: 20;
    right: 10px;
    bottom: 20px;
}

/* .customer-img img {
    width: 100%;
} */

.customer-text h1 {
    font-family: 'Playfair Display';
    font-size: 32px;
    margin-bottom: 25px;
}

.customer-text p {
    font-size: 16px;
    font-weight: 400px;
    color: #A5A5A5;
}

.customer-review p {
    font-size: 14px;
    font-weight: 300;
    color: black;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    margin-top: 35px;
    margin-bottom: 35px;
}

.customer-profile small {
    font-size: 14px;
    font-weight: 500;
    color: #2B4CDE;
}

/* Contact */

.contact {
    width: 100%;
    height: 450px;
}

.contact p {
    font-size: 16px;
    font-weight: 600;
    color: #A5A5A5;
    margin-bottom: 2px;
}

.contact h1 {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #0F1837;
    margin-bottom: 50px;
}

.btn-contact {
    width: 180px;
    height: 50px;
    background-color: #2B4CDE;
}

.btn-contact p {
    color: white;
}

.btn-contact a {
    margin-bottom: 81px;
}